{%extends 'main.html'%}

{% block title %} Msza {% endblock %}

{% block body %}
  <div>
  {%for mass in massList%}
  <br>
  <div class="box">
    <h5 class="card-title">Data: {{mass.day|date:" d E Y - l"}}</h5>
    <h5 class="card-title">Godzina: {{mass.startTime}}</h5>
    <h5 class="card-title">Intencja: {{mass.intention}}</h5>
    <div>
      <ul>
        <li>
          <a href="{% url 'massAdmin' mass.id %}">Akceptuj</a>
        </li>
        <li class="profile">
          <a href="{% url 'delete_Mass' mass.id %}">Usuń</a>
        </li>
      </ul>
    </div>
  </div>
  {%endfor%}
  </div>

{% endblock %}
