{%extends 'main.html'%}
{% load bootstrap %}

{% block title %} Aktualności {% endblock %}
{% block body %}
{% for new in news %}
  <div class="card">
    <div class="card-body">
      <div class='row'>
        <div class='col'>
          <h3>{{new.title}}</h3>
            <details>
              <summary>{{new.txt|truncatewords:2}}</summary>
              <p>{{new.txt}}</p>
            </details>
          <p class="profile">{{new.pubDate|date:"d E Y"}}</p>
        </div>
      </div>
    </div>
  </div>
{%endfor%}
{% endblock %}
