{%extends 'main.html'%}

{% block title %} Expenses {% endblock %}

{% block body %}
<h1>{{day|date:'E Y'}}</h1>
<a href="{% url 'newExpense' %}">Add Expense</a>
<table>
  <tr>
    <th>Date</th>
    <th>Category</th>
    <th>Description</th>
    <th>Cost</th>
  </tr>
  {%for expenses in expenses%}
    <tr>
      <td>{{expenses.date|date:'d E Y'}}</td>
      <td>{{expenses.category}}</td>
      <td>{{expenses.description}}</td>
      <td>{{expenses.cost}}</td>
    </tr>
  {%endfor%}
{% endblock %}
